/* body{
    background-image: url(image.png);
    background-size: cover;
} */
 body{
     display: flex;
    flex-direction: column;
    align-items: center;
 }
 .box{
    background-color: red;
    width: 400px;
    height: 400px;
 }
 .box:hover{
    background-color: black;
    transform: scale(2);
    transition: transform 10s, background-color 5s ;
 }